[submodule "Dark-Render/vendor/Dark-Tools-Headers"]
	path = Dark-Render/vendor/Dark-Tools-Headers
	url = https://github.com/Acmen-Team/Dark-Tools-Headers
[submodule "Dark-Render/vendor/Vulkan-Headers"]
	path = Dark-Render/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Dark-Render/vendor/DirectX-Headers"]
	path = Dark-Render/vendor/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "Render-Example/vendor/glfw"]
	path = Render-Example/vendor/glfw
	url = https://github.com/Acmen-Team/glfw
[submodule "Render-Example/vendor/imgui"]
	path = Render-Example/vendor/imgui
	url = https://github.com/Acmen-Team/imgui
